<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.answer.mapper.QuestionMapper">
    <cache></cache>

    <resultMap id="Question" type="com.answer.entity.QuestionEntity"/>
    <select id="countAll" resultType="int">
        select count(*) from question
    </select>

    <select id="queryById" resultMap="Question" parameterType="java.io.Serializable">
        select * from question where questionID = #{id}
    </select>

    <select id="queryAll" resultMap="Question">
        select * from question
    </select>

    <select id="findByPage" resultMap="Question" parameterType="HashMap">
        select questionID,createTime , topic,answer, rightAnswer,explain,deleteFlag, activityID
        from t_question ${order} limit ${start},${size}
    </select>

</mapper>